body {
    background-color: #1E1C28;
    margin: 0;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #DDDDDE;
    text-align: left;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
div.header {
    position: fixed;
    top: 0;
    background-color: #1E1C28;
    z-index: 2;
    height: 20px;
    width: 100vw;
    display: flex;
    align-items: center;
}
div.vspace {
    height: 20px;
    width: 100vw;
}

table.header, table.plan {
    width: 100vw;
}
tr {
    width: 100vw;
    height: 60px;
}
tr.header {
    height: 20px;
}
tr.hour {
    font-size: 12px;
}
td {
    min-width: 60px;
    text-align: left;
    vertical-align: top;
    border-top: 1px solid #55535C;
    color: #55535C;
}
td.header {
    border-top: none;
    color: #DDDDDE;
}
td.hheader {
    width: 60px;
    border-top: none;
    font-size: 12px;
}

div.class {
    position: absolute;
    top: 20px;
    left: 50px;
    z-index: 1;
    min-width: fit-content;
    width: calc((100vw - 50px )/ 7 - 2px);
    max-width: calc((100vw - 50px )/ 7 - 2px);
    height: 60px;
    border-radius: 5px;

    padding: 2px;
    margin-top: 2px;
    background-color: rgba(0, 155, 255, 0.400);
    color: rgba(0, 155, 255, 1.000);
}
div.time {
    margin: 0;
    font-size: 14px;
    font-weight: bold;
}
div.subject {
    position: absolute;
    top: 0;
    right: 2px;
    font-size: 20px;
    font-weight: bold;
}
div.teacher {
    font-size: 12px;
}
